<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ra's Rays</title>
    <script src="scripts/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.css">
    <% if (time >= 6 && time <= 19 ) {%>
        <link rel="stylesheet" href="styles/morning.css">
    <% }else{ %>
        <link rel="stylesheet" href="styles/night.css">
    <% } %>
</head>
<body class="body ">
    
