<%- include('header.ejs') %>
<div class="pb-5 pt-2"></div>
<div class="container mt-5">
    <div class="row bg rounded-2 text-light">
        <div class="col-12">
        <h2 class=" text-light text-center mt-5 "> 
            The Weather in your City  is 
            <!-- The backend -->
        </h2>
        <div class="mt-1">
            <h4 class="text-center">
                zozo?
                <!-- max/min -->
            </h4>
        </div>
        </div>
        <div class="">
            <h3> The UV index is :</h3>
            <!-- the uv index -->
             <!-- the need for sun screen -->
        </div>
        

    </div>
</div>
<%- include('footer.ejs')  %>