.body{
    background: linear-gradient(#27345c,#091845);
    height: 100vh;
}
.clear{
    background:linear-gradient(rgba(0, 0, 0,0),rgba(0, 0, 0, 0.8)) ,url(/images/night-stars-sky-dark.jpg) no-repeat center /cover;
    
}
.rainy{
    background:linear-gradient(rgba(0, 0, 0,0),rgba(0, 0, 0, 0.6)) ,url(/images/rainySky.jpg) no-repeat center /cover;
    
}
.fog{
    background:linear-gradient(rgba(0, 0, 0,0),rgba(0, 0, 0, 0.8)) ,url(/images/foggy.jpg) no-repeat center /cover;
    
}
.cloudy{
    background:linear-gradient(rgba(0, 0, 0,0),rgba(0, 0, 0, 0.8)) ,url(/images/cloudyNight.jpg) no-repeat center /cover;
    
}
@media (max-width:1300px ) and  (min-width:820px) {
    .h{
        height: 50vh;
    }
}
@media (max-width:1920px ) and  (min-width:1301px) {
    .h{
        height: 35vh;
    }
}
@media (max-width:600px ) and  (min-width:200px) {
    .h{
        height: 30vh;
    }
}