.body{
    background: linear-gradient(#27345c,#091845);
    height: 100vh;
}
.clear{
    background:linear-gradient(rgba(0, 0, 0,0),rgba(0, 0, 0, 0.8)) ,url(/images/night-stars-sky-dark.jpg) no-repeat center /cover;
    height: 25vh;
}
.rainy{
    background:linear-gradient(rgba(0, 0, 0,0),rgba(0, 0, 0, 0.6)) ,url(/images/rainySky.jpg) no-repeat center /cover;
    height: 25vh;
}
.fog{
    background:linear-gradient(rgba(0, 0, 0,0),rgba(0, 0, 0, 0.8)) ,url(/images/foggy.jpg) no-repeat center /cover;
    height: 25vh;
}
.cloudy{
    background:linear-gradient(rgba(0, 0, 0,0),rgba(0, 0, 0, 0.8)) ,url(/images/cloudyNight.jpg) no-repeat center /cover;
    height: 25vh;
}